* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3{
    font-size: 18px;
    Line-height: 27.1px;
}
p{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
}
/* :root{
    --main-color: #FFD15B;
} */
.main-color{
    color: #FFD15B;
}
.bg-main-color{
    box-flex-group: #FFD15B;
}
.second-color{
    color: #7A7A7A;   
}
.bg-second-color{
    background-color: #EDEDED;
    ;
}
.shadow{
    box-shadow: 0px 4px 34px 30px #0000000A;
}



.logo{
    width: 300px;

}
header{
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 600px;
}
.content{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
/* .dropdown-toggle::after{
    content:""
} */
.img-card{
    position: relative;
}
.minutes{
    position: absolute;
    background-color: #FFD15B;
    top: 15px;
    right: 15px;
    border-radius: 20px;
    padding: 3px 12px;
}

.card{
    min-height: 731px;
}

.img-card{
    width: 100%;
    height: 253px;
    object-fit: cover;
}
.ingredient-quantity,.ingredient-unit{
    color: #7A7A7A; 
}

/* .fa-solid.fa-magnifying-glass{
    width: 40px;
    height: 47px;
    position: absolute;
    right: 4px;

    bottom: 4px;
    border-radius: 5px;
       
    
} */
/* .serach-btn{
    position: relative;
    
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    width: 40px;
} 
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 5px;
}
.fa-solid.fa-magnifying-glass{
    color: black;
position: absolute;

} */
/* .input-group{
    position: relative;
} */

.form-control{
 position: relative;
}
.search-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    height: 80%;
    width: 35px;
    background-color: #000;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   /* margin: 5px; */
   z-index: 10;
}
.search-btn:hover{
    background-color: #FFD15B;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-radius: 5px;
padding: 10px;
}

.tag{
    background-color: #FFD15B;
    color: #000;
    width: fit-content;
    /* height: 50px; */
    padding: 12px 15px;
    border-radius: 15px;
    display: none;
}
.tag-element{
    padding-right: 10px;
}
/* .ingredient{
    background-color: blue;
}
.appliance{
    background-color: aquamarine;
}
.ustensil{
    background-color: brown;
} */
/* input:focus {
    outline: none;
  } */